@page "/Profile"
@inject NavigationManager NavigationManager

<PageTitle>BlazorAnimations - Profile</PageTitle>

<link href="css/Back.css" rel="stylesheet" />
<link href="css/Profile.css" rel="stylesheet" />


<div id="ProfileBody">
    <div class="Container">
        <div class="Content"></div>
        <div class="Content"></div>
        <div class="Content"></div>
    </div>
    <div class="Container">
        <div class="Content"></div>
        <img alt="UserProfile Image" src="img/ProfilePicture.jpg" UseBorder="true"/>
        <div class="Content"></div>
    </div>
    <div class="Container">
        <div class="Content"></div>
        <div class="Content"></div>
        <div class="Content"></div>
    </div>
</div>

<div id="BackArrow" onclick="@Home"></div>

<style>
    #ProfileBody {
        z-index: 1;
        background-color: @Background;
    }
    
    #BackArrow {
        z-index: 3;
        background-color: black;
        opacity: 60%;
    }
</style>

@code {
    private string Background = "lightskyblue";
    
    private void Home()
    {
        NavigationManager.NavigateTo("/");
    }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1);
        await ToggleBackground();
    }

}